{# file to extend #}
{% sw_extends '@Storefront/storefront/page/checkout/summary.html.twig' %}

{% set email = page.IctechNewsletterCustomerEmail %}
{% set allNewsLatterData = page.IctechAllNewsLatterData %}
{% set newsletterDiscountNew =  page.newsletterDiscount %}
{% set discountOrderId =  page.discountOrderId %}
{% set newsletterDiscount = page.ICTECHNewsletterSubscriptionDiscountConfiguration.percentageDiscount %}
{% set newsletterStatus = page.newsletterStatus %}

{% block page_checkout_summary %}

    <div class="checkout-aside-summary-container">
        {% if page.cart %}
            {% set summary = page.cart %}
        {% elseif page.order %}
            {% set summary = page.order %}
        {% endif %}

        {% set displayRounded = context.totalRounding.interval != 0.01 or context.totalRounding.decimals != context.itemRounding.decimals %}
        {% set decimals = context.totalRounding.decimals %}
        {% set total = summary.price.totalPrice %}

        {% if displayRounded %}
            {% set decimals = context.itemRounding.decimals %}
            {% set total = summary.price.rawTotal %}
        {% endif %}

        <dl class="row checkout-aside-summary-list {{ gridNoGuttersClass }} {% if displayRounded %}display-rounded{% endif %}">
            {% block page_checkout_summary_inner %}

                {% sw_include '@Storefront/storefront/page/checkout/summary/summary-position.html.twig' with { 'summary': summary } %}

                {% sw_include '@Storefront/storefront/page/checkout/summary/summary-shipping.html.twig' with { 'summary': summary } %}

                {% if summary.price.taxStatus == 'gross' %}
                    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total.html.twig' with {
                        'total': total,
                        'decimals': decimals
                    } %}

                    {% if displayRounded %}
                        {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total-rounded.html.twig' with {
                            'summary': summary,
                            'decimals': context.totalRounding.decimals
                        } %}
                    {% endif %}

                    {% if (allNewsLatterData >=1 and newsletterDiscountNew != 1 and newsletterStatus != "optOut") or (page.order.id == discountOrderId and page.order.id != NULL) or (newsletterStatus == "direct") %}
                        {% block page_checkout_newsletter_discount %}
                            {% block page_checkout_summary_net_label %}
                                <dt class="col-7 checkout-aside-summary-label summary-net">
                                    <b>{{ "newsletterDiscountApplied.title"|trans }}</b>
                                </dt>
                            {% endblock %}

                            {% block page_checkout_summary_net_value %}
                                <dd class="col-5 checkout-aside-summary-value summary-net">
                                    <b>{{ newsletterDiscount }}%</b>
                                </dd>
                            {% endblock %}
                        {% endblock %}
                    {% endif %}

                    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-net.html.twig' with { 'summary': summary } %}

                    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-tax.html.twig' with { 'summary': summary } %}
                {% else %}

                    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-net.html.twig' with { 'summary': summary } %}

                    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-tax.html.twig' with { 'summary': summary } %}

                    {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total.html.twig' with {
                        'total': total,
                        'decimals': decimals
                    } %}

                    {% if displayRounded %}
                        {% sw_include '@Storefront/storefront/page/checkout/summary/summary-total-rounded.html.twig' with {
                            'summary': summary,
                            'decimals': context.totalRounding.decimals
                        } %}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </dl>
    </div>
{% endblock %}

